#why{
	display: none;
}
#stupid{
	display: none;
}
#horde{
	display: none;
}
#peeps{
	display: none;
}
#kiwi{
	display: none;
}
#fighting{
	display: none;
}
#duck{
	display: none;
}
#toelet{
	display: none;
}
#glock{
	display: none;
}
#bucket{
	display: none;
}
#stik{
	display: none;
}
#hi{
	display: none;
}
#warhous{
	display:none;
}
#stone{
	display: none;
}
#stupidshit{
	display: none;
}
#run{
	display: none;
}
#retard{
	display: none;
}
#crawl{
	display: none;
}
#heaven{
	display: none;
}
#hell{
	display: none;
}